<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Проектный практикум</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap&subset=cyrillic" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="AllProjects">Проекты</a>
            <a class="nav-link " asp-area="" asp-controller="Teams" asp-action="AllTeams">Команды</a>
            <a class="nav-link " asp-area="" asp-controller="Users" asp-action="AllUsers">Студенты</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
